@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

@using DinoDiner.Menu;

<style>
    #container {
        display: flex;
        flex-direction: row;
        flex: 0 auto;
        width: 800px;
    }

    .exclude-ingredients {
        display: flex;
        flex-direction: column;
    }

    .price-filter {
        display: flex;
        flex-direction: row;
    }

    .category-list {
        display: flex;
        flex-direction: column;
    }


    form {
        display: flex;
        flex-direction: column;
        background-color: lightgrey;
    }
</style>


<div id="container">

    @*<div id="menu">
        <h1>Menu</h1>

        <h2> Combos</h2>
        @for (int i = 0; i < Menu.AvailableCombos.Count; i++)
        {
            <div class="menu-item">
                @if (Menu.AvailableCombos[i] is CretaceousCombo combo)
                {
                    <h3>@combo.ToString()</h3>
                    <ul>
                        <li>Price: $@String.Format("{0:0.00}", combo.Price)</li>
                        <li>Calories: @combo.Calories</li>
                        <li>@combo.Entree.ToString()</li>
                        <li>
                            Ingredients:
                            <ul>
                                @for (int j = 0; j < combo.Entree.Ingredients.Count; j++)
                                {
                                    <li>@combo.Entree.Ingredients[j]</li>
                                }
                            </ul>
                        </li>
                        <li>@combo.Side.ToString()</li>
                        <li>
                            Ingredients:
                            <ul>
                                @for (int j = 0; j < combo.Side.Ingredients.Count; j++)
                                {
                                    <li>@combo.Side.Ingredients[j]</li>
                                }
                            </ul>
                        </li>
                        <li>@combo.Drink.ToString()</li>
                        <li>
                            Ingredients:
                            <ul>
                                @for (int j = 0; j < combo.Drink.Ingredients.Count; j++)
                                {
                                    <li>@combo.Drink.Ingredients[j]</li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        }

        <h2> Entrees </h2>
        @for (int i = 0; i < Menu.AvailableEntrees.Count; i++)
        {
            <div class="menu-item">
                @if (Menu.AvailableEntrees[i] is Entree entree)
                {
                    <b>@entree.ToString()</b>
                    <ul>
                        <li> Price: $@String.Format("{0:0.00}", entree.Price)</li>
                        <li>Calories: @entree.Calories</li>
                        <li>
                            Ingredients:
                            <ul>
                                @for (int j = 0; j < entree.Ingredients.Count; j++)
                                {
                                    <li>@entree.Ingredients[j]</li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        }


        <h2> Sides </h2>
        @for (int i = 0; i < Menu.AvailableSides.Count; i++)
        {
            <div class="menu-item">
                @if (Menu.AvailableSides[i] is Side side)
                {
                    <b>@side.ToString()</b>
                    <ul>
                        <li> Price: $@String.Format("{0:0.00}", side.Price)</li>
                        <li>Calories: @side.Calories</li>
                        <li>
                            Ingredients:
                            <ul>
                                @for (int j = 0; j < side.Ingredients.Count; j++)
                                {
                                    <li>@side.Ingredients[j]</li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        }


        <h2> Drinks </h2>
        @for (int i = 0; i < Menu.AvailableDrinks.Count; i++)
        {
            <div class="menu-item">
                @if (Menu.AvailableDrinks[i] is Drink drink)
                {
                    <b>@drink.ToString()</b>
                    <ul>
                        <li> Price: $@String.Format("{0:0.00}", drink.Price)</li>
                        <li>Calories: @drink.Calories</li>
                        <li>
                            Ingredients:
                            <ul>
                                @for (int j = 0; j < drink.Ingredients.Count; j++)
                                {
                                    <li>@drink.Ingredients[j]</li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        }
    </div>*@


    <div id="menu">
        <h1>Menu</h1>

        @if (Model.ComboList != null && Model.ComboList.Count > 0)
        {
            
            <h2> Combos</h2>
            @for (int i = 0; i < Model.ComboList.Count; i++)
            {
                <div class="menu-item">
                    @if (Model.ComboList[i] is CretaceousCombo combo)
                    {
                        <h3>@combo.ToString()</h3>
                        <ul>
                            <li>Price: $@String.Format("{0:0.00}", combo.Price)</li>
                            <li>Calories: @combo.Calories</li>
                            <li>@combo.Entree.ToString()</li>
                            <li>
                                Ingredients:
                                <ul>
                                    @for (int j = 0; j < combo.Entree.Ingredients.Count; j++)
                                    {
                                        <li>@combo.Entree.Ingredients[j]</li>
                                    }
                                </ul>
                            </li>
                            <li>@combo.Side.ToString()</li>
                            <li>
                                Ingredients:
                                <ul>
                                    @for (int j = 0; j < combo.Side.Ingredients.Count; j++)
                                    {
                                        <li>@combo.Side.Ingredients[j]</li>
                                    }
                                </ul>
                            </li>
                            <li>@combo.Drink.ToString()</li>
                            <li>
                                Ingredients:
                                <ul>
                                    @for (int j = 0; j < combo.Drink.Ingredients.Count; j++)
                                    {
                                        <li>@combo.Drink.Ingredients[j]</li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    }
                </div>
            }
        }

        @if (Model.EntreeList != null  && Model.EntreeList.Count > 0)
        {
            <h2> Entrees </h2>
            @for (int i = 0; i < Model.EntreeList.Count; i++)
            {
                <div class="menu-item">
                    @if (Model.EntreeList[i] is Entree entree)
                    {
                        <b>@entree.ToString()</b>
                        <ul>
                            <li> Price: $@String.Format("{0:0.00}", entree.Price)</li>
                            <li>Calories: @entree.Calories</li>
                            <li>
                                Ingredients:
                                <ul>
                                    @for (int j = 0; j < entree.Ingredients.Count; j++)
                                    {
                                        <li>@entree.Ingredients[j]</li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    }
                </div>
            }
        }


        @if (Model.SideList != null  && Model.SideList.Count > 0)
        {
            <h2> Sides </h2>
            @for (int i = 0; i < Model.SideList.Count; i++)
            {
                <div class="menu-item">
                    @if (Model.SideList[i] is Side side)
                    {
                        <b>@side.ToString()</b>
                        <ul>
                            <li> Price: $@String.Format("{0:0.00}", side.Price)</li>
                            <li>Calories: @side.Calories</li>
                            <li>
                                Ingredients:
                                <ul>
                                    @for (int j = 0; j < side.Ingredients.Count; j++)
                                    {
                                        <li>@side.Ingredients[j]</li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    }
                </div>
            }
        }

        @if (Model.DrinkList != null && Model.DrinkList.Count > 0)
        {
            <h2> Drinks </h2>
            @for (int i = 0; i < Model.DrinkList.Count; i++)
            {
                <div class="menu-item">
                    @if (Model.DrinkList[i] is Drink drink)
                    {
                        <b>@drink.ToString()</b>
                        <ul>
                            <li> Price: $@String.Format("{0:0.00}", drink.Price)</li>
                            <li>Calories: @drink.Calories</li>
                            <li>
                                Ingredients:
                                <ul>
                                    @for (int j = 0; j < drink.Ingredients.Count; j++)
                                    {
                                        <li>@drink.Ingredients[j]</li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    }
                </div>
            }
        }

    </div>

    <div id="filter">
        <form method="post">
            <input type="text" name="search" id="search" value="@Model.search" />
            <input type="submit" value="search" />
            <input type="submit" id="filter" value="Apply Filter(s)" />

            <h2> Menu Category </h2>
            <div class="category-list">
                <label>
                    <input type="checkbox" name="menuCategory" value="Combo" checked="@Model.menuCategory.Contains("Combo")" />
                    Combo
                </label>

                <label>
                    <input type="checkbox" name="menuCategory" value="Entree" checked="@Model.menuCategory.Contains("Entree")" />
                    Entree
                </label>

                <label>
                    <input type="checkbox" name="menuCategory" value="Side" checked="@Model.menuCategory.Contains("Side")" />
                    Side
                </label>

                <label>
                    <input type="checkbox" name="menuCategory" value="Drink" checked="@Model.menuCategory.Contains("Drink")" />
                    Drink
                </label>
            </div>


            <h2> Price </h2>
            <div class="price-filter">
                <label>
                    Minimum Price:
                    <input type="number" id="minimum-price" min="0" max="10" step="0.1" name="minimumPrice" value="@Model.minimumPrice" />
                </label>
                <label>
                    Maximum Price:
                    <input type="number" id="maximum-price" min="0" max="10" step="0.1" name="maximumPrice" value="@Model.maximumPrice" />
                </label>
            </div>


            <h2>Ingredients to exclude</h2>
            <div class="exclude-ingredients">
                @foreach (string ingredient in Menu.PossibleIngredients.OrderBy(ingredient => ingredient.ToString()))
                {
                    <label>
                        <input type="checkbox" name="excludedIngredients" value="@ingredient.ToString()" checked="@Model.excludedIngredients.Contains(ingredient.ToString())" />
                        @ingredient.ToString()
                    </label>
                }

            </div>


        </form>
    </div>

</div>







